$white: #fff;
$black: #000;
$transperant_gray: rgba(0, 0, 0, 0.1);

$light_shadow: rgba(0, 0, 0, 0.1);
$regular_shadow: rgba(0, 0, 0, 0.15);
$blue_shadow: rgba(89, 124, 201, 0.2);
$darker_shadow: #000000b3;

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$darker_green: hsl(153, 57%, 46%);
$blue: hsl(248, 32%, 49%);
$dark_blue: hsl(249, 10%, 26%);
$grayish_blue: hsl(246, 25%, 77%);
